/* .avatar{
    width: 55px;
}

.container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left:20px;
    float: left;
}

.navbar .container-avatar img{
 height: 100%;   
}

.card-header > .data-user{
    font-weight: bold;
}
.col-md-8 > .pub_image {
    margin-bottom: 20px;
}
.nickname {
    color:gray;
} */